<main class={[(@dark_theme == 1 and "dark") || "light"]}>
  <%= if live_flash(@flash, :info) do %>
    <Components.Flash.message level="info" message={live_flash(@flash, :info)} />
  <% end %>

  <%= if live_flash(@flash, :error) do %>
    <Components.Flash.message level="error" message={live_flash(@flash, :error)} />
  <% end %>

  <Components.App.shell {assigns}>
    <%= @inner_content %>
  </Components.App.shell>
</main>
