<h1>Confirm account</h1>

<.form let={_f} for={:user} action={Routes.admin_user_confirmation_path(@conn, :update, @token)}>
  <div>
    <%= submit "Confirm my account" %>
  </div>
</.form>

<p>
  <%= link "Log in", to: Routes.admin_user_session_path(@conn, :new) %>
</p>
